/* transactions.css */
.page-filter {
	float: left;
	position: relative;
	overflow: auto;
	padding: 0;
	margin: 0 11px 0 0;
	width: 100px;
	font-family: 'DIN Condensed Bold';
}

.page-filter .page-filter-item {
	text-align: center;
	color: #737689;
	margin: 10px auto;
	padding: 10px 11px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 13px;
	opacity: 0.3;
	align-items: center;
}

.page-filter .page-filter-item.on {
	color: #737689;
	opacity: 1;
}

.page-filter .page-filter-item:hover {
	background-color: #e4e6ea;
}

.page-filter .page-filter-item img {
	width: 38%;
	display: block;
	margin: 0 7px 0px 0;
}

.page-filter .page-filter-item span {
	font-size: 12px;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .page-filter {
		width: 100%;
		top: -10px;
		display: flex;
		justify-content: flex-start;
	}

	.page-filter .page-filter-item {
		margin: 0 31px 0 0;
		flex-direction: row;
		align-items: center;
	}

	.page-filter .page-filter-item > *:first-child {
		margin-left: 5px;
	}


}
