/* totals.css */

.totals-filter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.totals-filter .filter-button {
	background: #09D0A3;
	color: #FFF;
	padding: 7px 19px;
	border: none;
	border-radius: 25px;
	margin: 0 23px 11px 0;
	font-size: 16px;
	opacity: 0.5;
	cursor: pointer;
	white-space: nowrap;
}

.totals-filter .filter-button.on {
	opacity: 1;
}

.period-container {
	display: flex;
	flex-direction: column;
	padding-top: 52px;
	max-height: 560px;
	/*! overflow: auto; */
}

.period-container .title{
	font-family: 'DIN Condensed Bold';
}

.period-container .title{
	color: #737689;
	font-size: 25px;
}

.period-container .total-value {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.period-container .total-value .value {
	color: #09D0A3;
	font-size: 70px;
	text-align: center;
}

.period-container .charts {
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	/* max-height: 350px; */
	/*! overflow: unset; */
	width: 100%;
}

.period-container .charts > *:first-child{
	margin-bottom: 40px;
}

.period-container .charts .legend .legend-product-element,
.period-container .charts .legend .total
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.period-container .charts .legend .total{
	margin-top: 10px;
}

.period-container .charts .legend span{
	font-size: 10px;
	display: flex;
	align-items: center;
}

.period-container .charts .legend span.total{
	font-weight: bold;
}

.period-container .charts .legend-icon {
	--size: 34px;
	width: var(--size);
	height: var(--size);
	position: relative;
}
@media only screen and (max-width: 768px) {
	.totals-filter {
		overflow: auto;
		width: 95%;
		flex-wrap: nowrap;
	}

	.period-container {
		/*! overflow-y: scroll; */
		/* margin: unset; */
	}


	.period-container .charts {
		/*! overflow-y: hidden; */
		max-height: unset;
		margin-bottom: 30px;
	}

	.period-container .charts::-webkit-scrollbar {
		display: none;
	}

	.period-container .charts .title{
		margin: 0 0 10px 0;
	}

	.period-container .total-value {
	}

	.period-container .total-value .value {
		font-size: 48px;
	}


}