/* sidebar.css */

.sidebar {
	background-color: #09CFA3;
	float: left;
	position: relative;
	overflow: auto;
	padding: 0;
	margin-right: 11px;
	min-height: 100vh;
	width: 116px;
}

.sidebar .logo{
	text-align: center;
	margin: 30px auto;
	padding: 10px 0;
	display: block;
}

.sidebar .side-item {
	text-align: center;
	color: #049C7A;
	margin: 10px auto;
	padding: 10px 11px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	opacity: 0.5;
}

.sidebar .side-item.on {
	color: white;
	opacity: 1;
}

.sidebar .side-item:hover {
	background: #09AA87;
}

.sidebar .side-item .side-bar-icon {
	margin: 0 auto 7px;
	display: block;
	width: 36%;
}

.sidebar .side-item span {
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Avenir Medium";
}

@media only screen and (max-width: 768px) {
	.sidebar {
		display: none;
		/* position: absolute;
		z-index: 10; */
	}
}