.breadcrumb, .breadcrumb-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	font-family: 'DIN Condensed Bold';
	padding: 0;
	align-items: center;
}

.breadcrumb-nav {
	border-bottom: solid var(--grey-1) 1px;
	margin: 11px;
	padding-bottom: 7px;
	font-family: 'avenir';
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 2rem;
}

.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 2rem;
	color: #6c757d;
	content: "|";
}

.breadcrumb-nav ol li {
	font-size: 1rem;
	font-weight: 400;
	display: flex;
	align-items: center;
}

.breadcrumb-nav ol li .icon {
	margin-right: 13px;
	display: none;
}



.breadcrumb-item.active {
	color: #6c757d;
}

@media only screen and (max-width: 768px) {
	.breadcrumb-nav ol li .icon {
		display: block;
	}
}