.breadcrumb, .breadcrumb-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
}

.breadcrumb-nav {
	border-bottom: solid var(--grey-1) 1px;
	margin: 11px;
	padding-bottom: 7px;
	font-family: 'avenir';
}

.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	color: #6c757d;
	content: "|";
}

.breadcrumb ol li {
	font-size: 1rem;
	font-weight: 400;
}



.breadcrumb-item.active {
	color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0.5rem;
}


